<div class="header">
  <h1>Tyne - Issue tracking</h1>
  <h2>Simple, agile, web-based</h2>
</div>

<hr class="divider" />

<div id="screenshots" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#screenshots" data-slide-to="0" class="active"></li>
    <li data-target="#screenshots" data-slide-to="1"></li>
    <li data-target="#screenshots" data-slide-to="2"></li>
    <li data-target="#screenshots" data-slide-to="3"></li>
    <li data-target="#screenshots" data-slide-to="4"></li>
    <li data-target="#screenshots" data-slide-to="5"></li>
    <li data-target="#screenshots" data-slide-to="6"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag "screenshots/dashboard.png" %>
      <div class="carousel-caption">
        <h4>Dashboard</h4>
        <p>Quick access to your projects and activity stream.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "screenshots/backlog.png" %>
      <div class="carousel-caption">
        <h4>Backlog</h4>
        <p>Search, filter and sort your backlog.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "screenshots/board.png" %>
      <div class="carousel-caption">
        <h4>Agile Board</h4>
        <p>Get a quick overview of the current sprint.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "screenshots/burndown.png" %>
      <div class="carousel-caption">
        <h4>Burn Down Chart</h4>
        <p>Check if you are "on track" at any time.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "screenshots/planning.png" %>
      <div class="carousel-caption">
        <h4>Planning Board</h4>
        <p>Plan your sprints quickly and efficient.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "screenshots/teams.png" %>
      <div class="carousel-caption">
        <h4>Teams</h4>
        <p>Grant and deny access to your projects.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "screenshots/user-profile.png" %>
      <div class="carousel-caption">
        <h4>User Profile</h4>
        <p>Explore new projects by viewing user profile pages.</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#screenshots" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#screenshots" data-slide="next">&rsaquo;</a>
</div>

<p class="description">
Tyne is a web-based issue tracking solution for agile teams who need to deliver software in iterations. Tyne is <b>FREE</b> for public projects.
</p>

<div class="row reasons">
  <div class="span4">
    <h5>Webbased</h5>
    <p>
      Access to your product backlog, your reports, etc. at any time no matter where you are. Even from your mobile phone or your Tablet.
    </p>
  </div>
  <div class="span4">
    <h5>Simple</h5>
    <p>
    Administrate your project from one simple page with an easy to use role management system. You have quick access to all the tools you need through our simple navigation.
    </p>
  </div>
  <div class="span4">
    <h5>Agile</h5>
    <p>
      Use agile tools to plan, execute and review your work (e.g. Backlog, Planning Board, Scrum Board, Burn Down Chart, etc.).
    </p>
  </div>
</div>

<hr class="divider" />

<div class="demo">
  <span>Ready to try it?</span>
  <%= link_to "Go to demo", "http://www.tyne-tickets.org", :class => "btn btn-primary btn-large" %>
</div>
