<div class="header">
  <h1>Tyne - Issue tracking</h1>
  <h2>Simple, agile, webbased</h2>
</div>

<hr class="divider" />

<div class="features">
  <div class="row feature odd">
    <div class="span4">
      <%= image_tag "world128x128.png" %>
    </div>
    <div class="span8">
      <h4>Feature 1</h4>
      <p>
          Suspendisse est lacus, iaculis sit amet fringilla sit amet, tincidunt in magna. Etiam dignissim nisi sit amet risus congue id egestas metus pretium. Cras a libero et dolor porta lacinia a et justo.
      </p>
    </div>
  </div>
  <div class="row feature even">
    <div class="span4">
      <%= image_tag "commentbubble128x128.png" %>
    </div>
    <div class="span8">
      <h4>Feature 2</h4>
      <p>
          Suspendisse est lacus, iaculis sit amet fringilla sit amet, tincidunt in magna. Etiam dignissim nisi sit amet risus congue id egestas metus pretium. Cras a libero et dolor porta lacinia a et justo.
      </p>
    </div>
  </div>
  <div class="row feature odd">
    <div class="span4">
      <%= image_tag "clock128x128.png" %>
    </div>
    <div class="span8">
      <h4>Feature 3</h4>
      <p>
          Suspendisse est lacus, iaculis sit amet fringilla sit amet, tincidunt in magna. Etiam dignissim nisi sit amet risus congue id egestas metus pretium. Cras a libero et dolor porta lacinia a et justo.
      </p>
    </div>
  </div>
  <div class="row feature even">
    <div class="span4">
      <%= image_tag "search128x128.png" %>
    </div>
    <div class="span8">
      <h4>Feature 4</h4>
      <p>
          Suspendisse est lacus, iaculis sit amet fringilla sit amet, tincidunt in magna. Etiam dignissim nisi sit amet risus congue id egestas metus pretium. Cras a libero et dolor porta lacinia a et justo.
      </p>
    </div>
  </div>
</div>

<hr class="divider" />

<div class="demo">
  <span>You like these features?</span>
  <%= link_to "Go to demo", "http://www.tyne-tickets.org", :class => "btn btn-primary btn-large" %>
</div>
